@import "bootstrap";
@import "font-awesome";
@import "animate";

.navbar a .navbar-brand a {
  font-weight: bold;
  color: red;
  background-color: #FFFAF0;
}

.nav-item .nav-link {
  color: green;
}


body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: #FFFAF0;
}

h2 {
  /*h2 class="text-center text-lg text-uppercase my-0"*/
  text-align: center;
  font-size: 25px;
  font-style: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1000px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .text-heading {
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4rem;
}

/*tagline-upper text-center text-heading text-shadow mt-5 d-none d-lg-block">One Tax Lady</div>
    <div class="tagline-lower text-center text-expanded text-shadow text-uppercase mb-5 d-none d-lg-block"*/

.tagline-upper {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  color: brown;
  text-align: center;
  padding-bottom: 30px;

}

.tagline-lower {
  font-size: 1.2rem;
  line-height: 1;
  color: brown;
  text-align: center;
}

.text-expanded {
  letter-spacing: 2px;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.text-lg {
  font-size: 1.25rem;
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

hr.divider {
  border-color: #292b2c;
  max-width: 250px;
}
.clear {
    clear: both;
}

/*Contact form stuff*/
.hidden { display: none; }
.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
font-size: .8em;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
font-size: .8em;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: center;
font-size: .8em;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
font-size: .8em;
}

/*Table*/

td {
  padding-right:20px
}
th {
  text-align: center;
}

th{
  text-align: center;
}

table {
  /*table-layout: center;*/
  border-spacing: 0;
  text-align: left;
  /*display: inline-table;*/
  margin: auto;

}

/*Modal*/

.btn {
  background-color: orange;
  color: black;
}

.btn:hover {
  background-color: #ffbb5b;
  color: black;
}

footer {
  background-color: black;
  color: #FFFAF0;
  margin: 0px;
  padding-top: 60px;
  padding-top: 60px;
}
